.loding-ui {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 30rem);

  svg {
    animation: spin 1.3s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
